<app-header [pageTitle]="pageTitle"></app-header>
<div class="about">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam accumsan elit a libero sagittis, at pharetra sapien lacinia. Nullam gravida nulla ut ante facilisis, eu sagittis metus venenatis. Donec tincidunt risus a massa ultrices dictum. Proin volutpat erat et tempor varius. Sed consectetur ullamcorper purus sed consequat.</p>
    <p>Sed ac justo risus. Fusce non lacus et ligula pharetra pellentesque. Nulla facilisi. Vestibulum non massa nibh. Vivamus iaculis finibus ligula a egestas. Nam suscipit vehicula dolor, sed laoreet nunc finibus vel.</p>
  </div>